<!-- author ben lawson balawson@bu.edu -->
<head>
    <title>Leave a comment!</title>
</head>
    <body>
        <div class="title">
            <h1>Enter your comment below</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/comment/{{p_id}}">
                <label for="text">Enter your comment:</label>
                <input type="text" name="text" required='true'/><br />
                <input type="submit" value="Comment" />
            </form>
    </body>

<ul>
<li><a href='/profile'>Go to Profile</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
<li><a href='/userbase'>Userbase</a> </li>
</ul>