<!doctype html>
<title>Photoshare</title>
{% if message %}
  <h1>{{ message }}</h1>
{% endif %}

{% if name %}
  <h2>Photo caption: {{ name }}</h2>
{% endif %}


{% if photo %}
    <ul>
		<li>Photo liked by:<br>
		{% if likedby %}
			{% block content %}
			{% for userid, user in likedby %}
				<li><a href='/user/{{userid[0]}}'>{{user[0]}}</a></li>
			{% endfor %}
			{% endblock %}
		{% endif %}
    </ul>
{% endif %}

<p><a href='/profile'>Go to Profile</a> </p>

<ul>
<li><a href='/upload'>Upload a photo</a> </li> 
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
<li><a href='/userbase'>Userbase</a> </li>
</ul>