<!doctype html>
<title>Photoshare</title>

{% if photos %}
<h3>Photos with tag {{tag}}</h3>
<h4><a href='/tagPageUser/{{tag}}'>Your photos with this tag</a></h4>
<h4><a href='/tagPage/{{tag}}'>All photos with this tag</a></h4>
    <ul>
    {% for photo in photos %}
        <h4>{{photo[2]}}<br>
        <img src='data:image/png;base64, {{photo[0]}}'/></li>
		<li><a href='/like/{{photo[1]}}'>Like this photo!</a></li>
		<li><a href='/likes/{{photo[1]}}'>View likes</a></li>
		<li><a href='/comment/{{photo[1]}}'>Comment on this photo!</a></li>
		<li><a href='/comments/{{photo[1]}}'>View Comments</a></li>
		<li><a href='/tag/{{photo[1]}}'>Tag this photo!</a></li>
		<li><a href='/tags/{{photo[1]}}'>View Tags</a></li>
		<li><a href='/deletePhoto/{{photo[1]}}'>Delete picture</a></li>
    {% endfor %}
    </ul>
{% endif %}


<p><a href='/profile'>Go to Profile</a> </p>
<ul>
<li><a href='/upload'>Upload a photo</a> </li> 
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
<li><a href='/userbase'>Userbase</a> </li>
</ul>